<a href="https://colab.research.google.com/github/lucas-ye/IA/blob/main/A2_2022S2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<head>
  <meta name="author" content="Rogério de Oliveira">
  <meta institution="author" content="Universidade Presbiteriana Mackenzie">
</head>

<img src="http://meusite.mackenzie.br/rogerio/mackenzie_logo/UPM.2_horizontal_vermelho.jpg" width=300, align="right">
<!-- <h1 align=left><font size = 6, style="color:rgb(200,0,0)"> optional title </font></h1> -->

# Avaliação N2 
***
Faça os exercícios propostos e em seguida responda ao **questionário no Moodle**.

*Boa prova!*

In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib.lines import Line2D
import seaborn as sns

# **Exercício 1.** Clustering Kmédias, Segmentando Países pela Força de Trabalho 
Questões no Moodle **Q1, Q2, Q3**

Esta base de dados contém a percentagem da população empregada em diferentes indústrias em 26 países europeus em 1979. 

- Country - o nome do país (identificador)
- Agr -% da força de trabalho empregada na agricultura
- Min -% na mineração
- Man -% na fabricação
- PS -% nas indústrias de fornecimento de energia
- Con - % em construção
- SI -% nas indústrias de serviços
- Fin -% em finanças
- SPS -% em serviços sociais e pessoais
- TC -% em transporte e comunicações

Fonte: https://statsandr.com/ 

**Objetivo:** Segmentar os países em grupos para aplicação de diferentes políticas públicas empregando uma clusterização **Kmédias**.

In [58]:
import pandas as pd
df = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/Eurojobs.csv')
df.head()

      Country   Agr  Min   Man   PS  Con    SI  Fin   SPS   TC
0     Belgium   3.3  0.9  27.6  0.9  8.2  19.1  6.2  26.6  7.2
1     Denmark   9.2  0.1  21.8  0.6  8.3  14.6  6.5  32.2  7.1
2      France  10.8  0.8  27.5  0.9  8.9  16.8  6.0  22.6  5.7
3  W. Germany   6.7  1.3  35.8  0.9  7.3  14.4  5.0  22.3  6.1
4     Ireland  23.2  1.0  20.7  1.3  7.5  16.8  2.8  20.8  6.1

## Inspecione os dados

In [59]:
# seu código
print(df.isnull().sum())
df = df.dropna().reset_index(drop=True)
print(df.isnull().sum())
df.head()

Country    0
Agr        0
Min        0
Man        0
PS         0
Con        0
SI         0
Fin        0
SPS        0
TC         0
dtype: int64
Country    0
Agr        0
Min        0
Man        0
PS         0
Con        0
SI         0
Fin        0
SPS        0
TC         0
dtype: int64

      Country   Agr  Min   Man   PS  Con    SI  Fin   SPS   TC
0     Belgium   3.3  0.9  27.6  0.9  8.2  19.1  6.2  26.6  7.2
1     Denmark   9.2  0.1  21.8  0.6  8.3  14.6  6.5  32.2  7.1
2      France  10.8  0.8  27.5  0.9  8.9  16.8  6.0  22.6  5.7
3  W. Germany   6.7  1.3  35.8  0.9  7.3  14.4  5.0  22.3  6.1
4     Ireland  23.2  1.0  20.7  1.3  7.5  16.8  2.8  20.8  6.1

## Preparação dos dados

Normalize os dados empregando o `StandardScaler` (melhor) ou `scale`.

$$ z_i = \frac{x_i - \bar{x}}{\sigma(x)}$$

E não esqueça de excluir dados não úteis para a construção do modelo. Para certificar-se que a normalização foi feita corretamente verifique `sum(sum(X))`.

In [60]:
from sklearn.preprocessing import StandardScaler

df = df.drop(columns = ['Country'])
# Seu código 
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(df)
X = scaler.transform(df)
X[0:10]

# seu código

array([[-1.03844649, -0.37199739,  0.08619551, -0.02085144,  0.02145187,
         1.3690936 ,  0.79940055,  0.9820822 ,  0.47920226],
       [-0.65142586, -1.21303495, -0.75784885, -0.83405766,  0.08342395,
         0.36606322,  0.90840971,  1.81828787,  0.40591251],
       [-0.54647111, -0.47712708,  0.07164302, -0.02085144,  0.4552564 ,
         0.85643363,  0.72672777,  0.38479244, -0.62014411],
       [-0.81541765,  0.0485214 ,  1.27949961, -0.02085144, -0.53629681,
         0.32148409,  0.36336389,  0.33999571, -0.32698507],
       [ 0.26692818, -0.26686769, -0.91792623,  1.06342351, -0.41235266,
         0.85643363, -0.43603666,  0.11601205, -0.32698507],
       [-0.21192785, -0.68738647,  0.08619551, -1.10512639,  1.13694923,
         1.14619796, -0.87207332,  0.01148634, -0.62014411],
       [-0.74982093,  1.94085592,  0.55187516, -0.29192018,  0.64117263,
         1.23535621,  0.21801833, -0.12290385, -0.25369532],
       [-0.84165634, -1.21303495, -0.65598143,  0.2502173 ,  1.07497715,
         1.12390839,  1.01741888,  1.26579484,  0.18604323],
       [-1.07780452,  0.15365109,  0.46456023,  1.33449225, -0.78418511,
         0.87872319,  0.6177186 ,  1.23593035, -0.1071158 ],
       [-0.42183735, -0.16173799,  0.46456023,  1.33449225,  0.51722848,
         0.85643363,  0.3270275 , -0.48127771,  0.33262275]])

In [61]:
sum(sum(X))

2.275957200481571e-14

## Número de Clusters

**Q1**. Qual ao valor médio de silhueta para o melhor número de clusters `kmedias`? (verifique de 2 a 10 clusters)

> Empregue `random_state=1234` no kmédias e nenhum outro parâmetro.

In [62]:
from sklearn.cluster import KMeans
from sklearn import metrics 

from sklearn import metrics
for n_clusters in range(2,11):
  clf = KMeans(n_clusters = n_clusters , random_state= 1234)
  clf.fit(X)
  labels = clf.labels_
  print('Silhueta média para', n_clusters , 'clusters: ', np.round( metrics.silhouette_score(X, labels, metric='euclidean'),3))
# seu código

Silhueta média para 2 clusters:  0.323
Silhueta média para 3 clusters:  0.278
Silhueta média para 4 clusters:  0.231
Silhueta média para 5 clusters:  0.202
Silhueta média para 6 clusters:  0.164
Silhueta média para 7 clusters:  0.2
Silhueta média para 8 clusters:  0.194
Silhueta média para 9 clusters:  0.182
Silhueta média para 10 clusters:  0.181

## Clusterização, 3 Clusters

O número de clusters não segue um único critério e normalmente é feita uma análise conjunta de várias métricas. Sabemos que esse conjunto, independente do valor que você obteve no item anterior é 3. Faça assim a clusterizção para 3 clusters.

**Q2**. Examine quantos elementos você encontra em cada cluster e quais os valores de médios, o centróide ou valores típicos de cada cluster.  

> Empregue `random_state=1234` no kmédias e nenhum outro parâmetro.

In [63]:
from sklearn.cluster import KMeans


# Seu código
# Configura e instancia o estimador 
clf = KMeans(n_clusters = 3 , random_state= 1234)  # seed, para a reprodutibilidade dos resultados

# Ajusta o estimador aos dados
clf.fit(X) # somente os atributos Murder e UrbanPop

# Obtém os resultados do modelo
labels = clf.labels_
centroids = clf.cluster_centers_

print(labels)
print(centroids)
# seu código

[1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 0 2 2 2 2 2 2 2 0]
[[ 2.17579264 -0.33695415 -1.87839051 -0.83405766 -1.79639567 -1.17191669
   0.33913963 -1.58626377 -1.40190152]
 [-0.49645361 -0.46398587  0.06891443  0.02997395  0.27708668  0.68508261
   0.42695257  0.42212305  0.01198006]
 [ 0.20226856  1.20494805  0.6475058   0.2889414   0.13654287 -1.06365309
  -1.12123713 -0.28502536  0.57343195]]

In [64]:
# seu código aqui
df['Cluster'] = labels
df['Country'] = pd.read_csv('http://meusite.mackenzie.br/rogerio/data_load/Eurojobs.csv')['Country']

df.head(10)

    Agr  Min   Man   PS   Con    SI  Fin   SPS   TC  Cluster         Country
0   3.3  0.9  27.6  0.9   8.2  19.1  6.2  26.6  7.2        1         Belgium
1   9.2  0.1  21.8  0.6   8.3  14.6  6.5  32.2  7.1        1         Denmark
2  10.8  0.8  27.5  0.9   8.9  16.8  6.0  22.6  5.7        1          France
3   6.7  1.3  35.8  0.9   7.3  14.4  5.0  22.3  6.1        1      W. Germany
4  23.2  1.0  20.7  1.3   7.5  16.8  2.8  20.8  6.1        1         Ireland
5  15.9  0.6  27.6  0.5  10.0  18.1  1.6  20.1  5.7        1           Italy
6   7.7  3.1  30.8  0.8   9.2  18.5  4.6  19.2  6.2        1      Luxembourg
7   6.3  0.1  22.5  1.0   9.9  18.0  6.8  28.5  6.8        1     Netherlands
8   2.7  1.4  30.2  1.4   6.9  16.9  5.7  28.3  6.4        1  United Kingdom
9  12.7  1.1  30.2  1.4   9.0  16.8  4.9  16.8  7.0        1         Austria

## Analisando os Grupos



**Q3**. Analise os valores médios dos grupos e os países pertencentes a cada grupo. Há grupos que se destacam com um percentual maior (ou menor) da força de trabalho em alguma categoria? Quais países fazem parte de cada grupo?

In [65]:
print(df['Cluster'].value_counts())

1    16
2     7
0     3
Name: Cluster, dtype: int64

In [66]:
# seu código
c1 = df[df['Cluster'] == 0]
print(len(c1['Country'].value_counts()))
c2 = df[df['Cluster'] == 1]
print(len(c2['Country'].value_counts()))
c3 = df[df['Cluster'] == 2]
print(len(c3['Country'].value_counts()))

3
16
7

In [67]:
df.groupby('Cluster').mean()

,Agr,Min,Man,PS,Con,SI,Fin,SPS,TC
Cluster,,,,,,,,,
0,52.300000,0.933333,14.100000,0.600000,5.266667,7.700000,4.933333,9.400000,4.633333
1,11.562500,0.812500,27.481250,0.918750,8.612500,16.031250,5.175000,22.850000,6.562500
2,22.214286,2.400000,31.457143,1.014286,8.385714,8.185714,0.914286,18.114286,7.328571

In [68]:
c1['Country'].value_counts()

Greece        1
Turkey        1
Yugoslavia    1
Name: Country, dtype: int64

# **Exercício 2.** Deep Learning

Questões no Moodle **Q4, Q5, Q6**

A clusterização não é um modelo para previsão do grupo de novos elementos, mas isso não impede de construírmos um modelo neural para 'classificação' de novos dados nos grupos criados se isso for do nosso interesse. 

Construa assim um modelo neural Keras/TensorFlow para classificação dos dados `Eurojobs` para os grupos encontrados (eles serão empregados como o atributo classe).

In [69]:
from tensorflow import keras
from tensorflow.keras import layers
from keras import Sequential, layers
import tensorflow as tf

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

In [70]:
print("TF Version: ", tf.__version__)
print("GPU available: ", tf.config.list_physical_devices('GPU')) # havendo disponibilidade o modelo executa empregando GPU

TF Version:  2.9.2
GPU available:  []

In [71]:
#@markdown `plot_loss_acc(history,more_title='')`
def plot_loss_acc(history,more_title=''):
    
    loss = history.history['loss']
    val_loss = history.history['val_loss']
    epochs = range(1, len(loss) + 1)
    plt.figure(figsize=(8,5))
    plt.plot(epochs, loss, 'y', label='Training loss')
    plt.plot(epochs, val_loss, 'r', label='Validation loss')
    plt.title('Training and validation loss' + ' ' + more_title)
    plt.xlabel('Epochs')
    plt.ylabel('Loss')
    plt.legend()
    plt.show()
    
    acc = history.history['accuracy']
    val_acc = history.history['val_accuracy']
    plt.figure(figsize=(8,5))
    plt.plot(epochs, acc, 'y', label='Training acc')
    plt.plot(epochs, val_acc, 'r', label='Validation acc')
    plt.title('Training and validation accuracy' + ' ' + more_title)
    plt.xlabel('Epochs')
    plt.ylabel('Accuracy')
    plt.legend()
    plt.show()

    print(more_title + 'Accuracy Train: {:.2f} %, Accuracy Test: {:.2f} %'.format(acc[len(acc)-1] *100, val_acc[len(val_acc)-1]*100))

    return loss, val_loss, acc, val_acc

## Separe os conjuntos de Treinamento e Teste

Você pode empregar os dados `X` antes que já encontram-se normalizados. Para o `y`, lembre-se que você deve fazer o hot enconde para empregá-lo na camada de saída da rede.

Para a separação dos dados de treino e teste empregue os parâmetros fornecidos abaixo.

In [72]:

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

hot_encode = OneHotEncoder(handle_unknown='ignore') 
hot_encode = hot_encode.fit(df[['Country']])
transformed = hot_encode.transform(df[['Country']]).toarray()
# print(transformed)

transformed_df = pd.DataFrame(transformed, columns=hot_encode.get_feature_names_out())
display(transformed_df.head())

df = pd.concat([df, transformed_df],axis=1) 
df.head()

,Country_Austria,Country_Belgium,Country_Bulgaria,Country_Czechoslovakia,Country_Denmark,Country_E. Germany,Country_Finland,Country_France,Country_Greece,Country_Hungary,...,Country_Portugal,Country_Rumania,Country_Spain,Country_Sweden,Country_Switzerland,Country_Turkey,Country_USSR,Country_United Kingdom,Country_W. Germany,Country_Yugoslavia
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,Agr,Min,Man,PS,Con,SI,Fin,SPS,TC,Cluster,...,Country_Portugal,Country_Rumania,Country_Spain,Country_Sweden,Country_Switzerland,Country_Turkey,Country_USSR,Country_United Kingdom,Country_W. Germany,Country_Yugoslavia
0,3.3,0.9,27.6,0.9,8.2,19.1,6.2,26.6,7.2,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,9.2,0.1,21.8,0.6,8.3,14.6,6.5,32.2,7.1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,10.8,0.8,27.5,0.9,8.9,16.8,6.0,22.6,5.7,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6.7,1.3,35.8,0.9,7.3,14.4,5.0,22.3,6.1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,23.2,1.0,20.7,1.3,7.5,16.8,2.8,20.8,6.1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [74]:
df.columns

Index(['Agr', 'Min', 'Man', 'PS', 'Con', 'SI', 'Fin', 'SPS', 'TC', 'Cluster',
       'Country', 'Country_Austria', 'Country_Belgium', 'Country_Bulgaria',
       'Country_Czechoslovakia', 'Country_Denmark', 'Country_E. Germany',
       'Country_Finland', 'Country_France', 'Country_Greece',
       'Country_Hungary', 'Country_Ireland', 'Country_Italy',
       'Country_Luxembourg', 'Country_Netherlands', 'Country_Norway',
       'Country_Poland', 'Country_Portugal', 'Country_Rumania',
       'Country_Spain', 'Country_Sweden', 'Country_Switzerland',
       'Country_Turkey', 'Country_USSR', 'Country_United Kingdom',
       'Country_W. Germany', 'Country_Yugoslavia'],
      dtype='object')

In [79]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split

# seu código
print(df.shape)
X = df[["Agr","Min","Man","PS","Con","SI","Fin","SPS","TC"]]
 
y = df[['Country_Austria', 'Country_Belgium', 'Country_Bulgaria',
       'Country_Czechoslovakia', 'Country_Denmark', 'Country_E. Germany',
       'Country_Finland', 'Country_France', 'Country_Greece',
       'Country_Hungary', 'Country_Ireland', 'Country_Italy',
       'Country_Luxembourg', 'Country_Netherlands', 'Country_Norway',
       'Country_Poland', 'Country_Portugal', 'Country_Rumania',
       'Country_Spain', 'Country_Sweden', 'Country_Switzerland',
       'Country_Turkey', 'Country_USSR', 'Country_United Kingdom',
       'Country_W. Germany', 'Country_Yugoslavia']]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify=y, random_state=1)

(26, 37)

ValueError: ignored

## Crie e treine o modelo Keras/TensorFlow

Crie um modelo Keras Sequencial (MLP) que:

1. Emprega duas camadas ocultas ocultas com 64 neurônios cada
2. Todas camadas empregam a função de ativação `relu`, exceto a camada de saída que deve empregar a função `softmax`.

Empregue os demais parâmetros como abaixo.

In [ ]:
# seu código

# Neural net config
model = Sequential( ...
                   

#--------- aqui não requer alterações ------------------------------------------

model.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

# Show model
model.summary()

# Treinamento
history = model.fit(X_train, y_train, validation_split=0.2, epochs=100, batch_size=8, verbose=0)

# Plot training
loss, val_loss, acc, val_acc = plot_loss_acc(history,' Keras Learning ')

#--------- aqui não requer alterações ------------------------------------------



# seu código

# Final Evaluation
score = model.evaluate(...

**Q4**. Analise a quantidade de parâmetros (pesos) do seu modelo. 

**Q5**. Repita algumas execuções do modelo (no mínimo 10). O que você pode melhor dizer sobre o resultado obtido no conjunto de teste?

## Faça uma predição

Empregue um dos modelos com melhores resultados das execuções anteriores e faça a predição dos casos médios de cada cluster (você poderia usar os centróides neste caso não?).

**Q6.** Analise os resultados.

In [ ]:
# seu código